# ==========================================================
# ConsultHub - Demo React Environment
# ==========================================================

VITE_API_URL=/api

VITE_STUN_URL=stun:stun.l.google.com:19302
